{{/* This file is combined with the root.tmpl to display the blog index. */}}

{{define "title"}}About{{end}}
{{define "content"}}
<div id="outline-container-1" class="outline-2">
  <h2 id="sec-1">关于我</h2>
  <div class="outline-text-2" id="text-1">

    <p>
    <br>2013年至今，在一家日企工作（程序员），目前魔都混生活。
    在从事导航地图工作，但我更感兴趣的是互联网的东西。</br>
    <br>个人喜好linux平台，喜欢的语言有go（python/ruby) > C++ > java。</br>
    <br>我的梦想是加入一个创业团队去做一些可以试着改变世界的东西</br>
    </p>
  </div>

  <div id="outline-container-2" class="outline-2">
    <h2 id="sec-2">关于网站</h2>
    <div class="outline-text-2" id="text-2">
      <p> 
      <br>由于十一时间紧迫，所以并没有从零开始建博客，而是：
      <br>直接把<a href="http://blog.golang.org">go语言的官方博客</a>代码改一改拿来用的。</br>
      </p>
    </div>

  </div>

  <div id="outline-container-3" class="outline-2">
    <h2 id="sec-3">联系我</h2>
    <div class="outline-text-2" id="text-3">

      <p> <br> 可以关注我的github：<a href="https://github.com/hominlinx">我的github</a></br>
	<br>或者发邮件：hominlinx at gmail dot com</br>
    </p></div>
  </div>
</div>
{{end}}
